<div *ngFor='let p of prices'>
  <span>{{p.name}} = {{p.price}}</span>
</div>
<form class="form-inline">
  <div class="form-group">
    <input type="search" class="form-control" placeholder="Enter search string" #search>
  </div>
  <button class="btn btn-primary" (click)="doSearch(search.value)">Search</button>
</form>

<div class="text-center">
  <p class="lead" *ngIf="loading">Loading...</p>
</div>

<div class="ui middle aligned divided list">
  <div class="item" *ngFor="let item of results">
    <img class="ui avatar image" src="{{item.thumbnail}}">
    <div class="content">
      <a class="header" target="_blank" href="{{item.link}}">{{ item.track }}</a>
      <div class="description">{{ item.artist }}</div>
    </div>
  </div>
</div>